.headsection {
    display: flex;
    justify-content: space-between;
}

.pageinput {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
}

.pageinputfield {
    background-color: beige;
    color: gray;
}

.pageinputfield:focus {
    outline: none;
}

.movie_list {
    padding: 0 3rem 3rem 3rem;
}

.list_title {
    font-size: 1.75rem;
    margin: 2.5rem;
}

.list_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}